.blue-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0071e3;
  color: #1d1d1f;
  margin-top: 44px;
  height: 44px;
  text-align: center;
}
.blue-bar a {
  text-decoration: none;
  color: #ffffff;
}
.blue-bar a:hover {
  text-decoration: underline;
}
.blue-bar > p {
  color: #ffffff;
}
