body,
h1,
h2,
h3,
h4,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #ffffff;
  color: black;
  display: grid;
  grid-template-columns: 1fr repeat(14, minmax(10px, 73px)) 1fr;

  color: #d6d6d6;
  /*font-family: -apple-system, sans-serif;*/
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}
.menu-wrapper {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr repeat(14, minmax(10px, 73px)) 1fr;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 999;
}

nav {
  grid-column: 2 / 16;
  justify-self: stretch;
}

nav li img {
  width: 22px;
  margin: 0px 10px 6px 10px;
  filter: brightness(1.3);
  transition: filter 0.2s;
}
nav li img:hover {
  filter: brightness(1.5);
  transition: filter 0.2s;
}

nav ul {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}

nav li a {
  display: block;
  margin: 0px 10px;
  color: #d1d1d1;
  text-decoration: none;
  /*font-family: -apple-system, sans-serif;*/
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  transition: color 0.5s;
}

nav li a:hover {
  color: #ffffff;
  transition: color 0.5s;
}

.blue-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0071e3;
  color: #1d1d1f;
  margin-top: 44px;
  height: 44px;
}
.blue-bar a {
  text-decoration: none;
  color: #ffffff;
}
.blue-bar a:hover {
  text-decoration: underline;
}
.blue-bar > p {
  color: #ffffff;
}

.white-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #1d1d1f;
  height: 44px;
}
.white-bar a {
  text-decoration: none;
  color: #0071e3;
}
.white-bar a:hover {
  text-decoration: underline;
}

.about {
  justify-content: center;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(14, minmax(10px, 73px));
  background: #131313;
  justify-items: center;
  text-align: center;
}
.about > * {
  grid-column: 1 / -1;
  color: #ffffff;
  margin-top: 6px;
  font-size: 1.1rem;
}
.about h1 {
  padding-top: 49px;
  font-size: 3.2rem;
}
.about h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.about h3 {
  grid-column: 3 / 13;
  font-size: 1.6rem;
  font-weight: 500;
}
.about p {
  grid-column: 2 / 14;
  color: #86868b;
  margin-top: 10px;
}
.about img {
  max-width: 270px;
  margin-top: 30px;
}

.companies {
  margin-top: 10px;
  justify-content: center;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(14, minmax(10px, 73px));
  background: #fafafa;
  color: #1d1d1f;
  justify-items: center;
  text-align: center;
}
.companies > * {
  grid-column: 1 / -1;
  color: #1d1d1f;
  margin-top: 6px;
  font-size: 1.1rem;
  font-weight: 500;
}
.companies h1 {
  padding-top: 49px;
  font-size: 3.2rem;
  font-weight: 700;
}
.companies h2 {
  grid-column: 2 / 14;
  font-size: 1.6rem;
}
.companies h3 {
  grid-column: 2 / 14;
  color: #86868b;
  margin-top: 10px;
}
.companies img {
  width: 100%;
  height: auto;
}

.learn-more > a {
  text-decoration: none;
  color: #2997f0;
  font-size: 1.3125rem;
}
.learn-more > a:hover {
  text-decoration: underline;
}
.learn-more {
  margin-top: 20px;
  color: #2997f0;
}

.videos {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #1d1d1f;
  margin: 10px;
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
  letter-spacing: 0.01rem;
}
.videos > * {
  background: #fafafa;
}
.pink-video {
  background: #f1f1f3;
}
.blue-video {
  background: #8dc5dc;
  color: #faefe6;
  font-size: 2rem;
}
.videos h2 {
  width: 65%;
  overflow: auto;
  margin: auto;
  margin-top: 49px;

  font-size: 2.4rem;
  font-weight: 600;
}
.videos h3 {
  width: 65%;
  overflow: auto;
  margin: auto;
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: normal;
}
.video-wrapper {
  display: grid;
}
.video-container-laptop {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px;
}
.video-container-laptop iframe {
  box-sizing: border-box;
  background: url(../img/laptop.png) center center no-repeat;
  background-size: contain;
  padding: 11.9% 15.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-container-desktop {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
.video-container-desktop iframe {
  box-sizing: border-box;
  background: url(../img/monitor.png) center center no-repeat;
  background-size: contain;
  padding: 3.4% 10.8% 18.6%; /* 11.9% 15.5% 14.8% */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videos p {
  margin-top: 15px;
}
.videos a {
  text-decoration: none;
  color: #0071e3;
  font-size: 1rem;
}
.videos a:hover {
  text-decoration: underline;
}

/* Old Video Frame w/o image borders. 
.video-container {
  align-self: end;
  justify-self: center;
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 30px 40px;
  margin-bottom: 0px;
}
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}*/

.awards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(14, minmax(10px, 73px));
  background: #f5f5f7;
  color: #1d1d1f;
  justify-content: center;
}
.awards > * {
  grid-column: 2 / 14;
  color: #515154;
  margin: 7px;
  font-size: 0.72rem;
}
.awards > p {
  padding-top: 25px;
  font-weight: bold;
}
.awards > ul > li {
  margin-bottom: 17px;
}
.awards > hr {
  border-top: 1px solid lightgray;
  margin: 3px;
}

.awards > footer > p {
  display: inline-block;
  margin-right: 7px;
  padding-right: 10px;
  white-space: nowrap;
  margin-bottom: 27px;
  color: #86868b;
}
.first {
  border-right: 1px solid #d2d2d7;
}
.awards > footer > p.last {
  float: right;
  text-align: right;
  margin-right: 0;
  padding-right: 0;
  color: #515154;
}

/*
.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 8px;
  margin-bottom: 1rem;
}
*/

@media screen and (max-width: 734px) {
  .about h1 {
    font-size: 2.4rem;
  }
  .about h2 {
    font-size: 1.2rem;
  }
  .about h3 {
    font-size: 1.2rem;
  }
  .about p {
    font-size: 1rem;
  }

  .companies h1 {
    font-size: 2.4rem;
  }
  .companies h2 {
    font-size: 1.2rem;
  }
  .companies h3 {
    font-size: 1rem;
  }

  .videos {
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr;
  }

  .about img {
    max-width: 190px;
  }
}

@media screen and (max-width: 672px) {
  .awards > footer > p.last {
    float: left;
  }
}

@media screen and (max-width: 900px) {
  .videos h2 {
    width: 80%;
  }
}
